.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header {
  height: 78px;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.3px solid #46a35880;
}
